h1 {
    text-align: center;
    background-color: red;
    color: blue;
}

.tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}